body {
  font-family: var(--font-main);
  background: var(--color-white);
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
  letter-spacing: -0.03em;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-regular);
  line-height: 1.6;
}